// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.field1 > input#user_email{
position: absolute;    
top: 0;
bottom: 10%;  
left: calc(50% + 35px);
margin: auto;
width: 150px;
height: 30px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
border-radius: 29px;
opacity: 1;

}


.field2 > input#user_password{
    position: absolute;    
    top: 14%;
    bottom: 0;  
    left: calc(50% + 35px);
    margin: auto;
    width: 150px;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 29px;
    opacity: 1;
}

.actions1{
    position: absolute;    
    top: 37%;
    bottom: 0;  
    left: calc(50% + 110px);
    margin: auto;
    width: 76px;
    height: 38px;
    text-align: left;
    font: Regular 38px/46px MS PMincho;
    letter-spacing: 0;
    color: #0A0000;
    opacity: 1;
}

input#user_remember_me{
    position: absolute;    
    top: 33%;
    bottom: 0;  
    left: 28%;
    margin: auto;
}

header{
    font-family: 'Verdana';
}


body.sessions#new{
top: 0px;
left: 0px;
width: 1920px;
height: 1080px;
background: image-url('login.png') 0% 0% no-repeat padding-box;
background-size: cover;
background-position: center center;
background-attachment: fixed;
background-repeat: no-repeat;
background-color: #464646;
opacity: 1;
}

h1{
    position: absolute;    
    top: 31%;
    bottom: 0;  
    left: 26%;
    margin: auto;

}
p{
    font-size: 20pt;
    color: red;
    font-family: 'Verdana';
}

.field1 > p.email{
    position: absolute;    
    top: 42%;
    bottom: 0;  
    left: 30%;
    margin: auto;

}

p.password{
    position: absolute;    
    top: 53%;
    bottom: 0;  
    left: 30%;
    margin: auto;

}

p.remenber_me{
    position: absolute;    
    top: 63%;
    bottom: 0;  
    left: 30%;
    margin: auto;

}

html,body{
    overflow: hidden
  }




body.registrations{
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    background: image-url('login.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #464646;
    opacity: 1;
}

.field4 > input#user_email{
    position: absolute;    
    top: 0;
    bottom: 0;  
    left: calc(50% + 35px);
    margin: auto;
    width: 150px;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 29px;
    opacity: 1;
    
    }

    .field4 > p.email{
        position: absolute;    
        top: 47%;
        bottom: 0;  
        left: 30%;
        margin: auto;
    
    }
    

    .actions2{
        position: absolute;    
        top: 20%;
        bottom: 0;  
        left: 50%;
        margin: auto;
        width: 76px;
        height: 38px;
        text-align: left;
        font: Regular 38px/46px MS PMincho;
        letter-spacing: 0;
        color: #0A0000;
        opacity: 1;
    }

    body.passwords{
        top: 0px;
        left: 0px;
        width: 1920px;
        height: 1080px;
        background: image-url('login.png') 0% 0% no-repeat padding-box;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-color: #464646;
        opacity: 1;
        }
    .block{
        overflow: hidden;
        width: 32%;
        height: 30%;
        opacity: 1;
        background-color: #464646;

    }